<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>It Was the 90s</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <h1>
        <a href="/">90's</a>
      </h1>
      <nav>
        <a href="/dashboard">Dashboard</a>
        <button id="logout">Logout</button>
        <a href="/login">Login</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <small>Copyright 2022</small>
    </footer>
  </body>
</html>