<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>It Was the 90s</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <h1 class="main-title">
        <a href="/">It Was the 90's</a>
      </h1>
      <div class="nav-wrapper">
        <nav>
          <ul class="right" >
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><button class= "logout-btn" id="logout">Logout</button></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <div>Made by Jason, James and Geran. ©2022  </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascript/logout.js"></script>
  </body>
</html>