<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>It Was the 90s</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <h1 class="main-title">
        <a href="/">It Was the 90's</a>
      </h1>
      <nav>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
          <li><button class= "logout-btn" id="logout">Logout</button></li>
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <small>Copyright 2022</small>
    </footer>
    <script src="/javascript/logout.js"></script>
  </body>
</html>