<section>
  <h2 class="create-post-title">Create New Movie Post</h2>

  <form class="new-movie-form">
    <div>
      <label for="movie-title">Movie Title</label>
      <input type="text" name="movie-title" id="movie-title" />
    </div>
    <div>
      <label for="movie-url">Movie Link</label>
      <input type="text" name="movie-url" id="movie-url" />
    </div>
    <button type="submit" class="btn">Post</button>
  </form>
</section>



<section>
  
  <h2 class="movie-post-title">Your Movie Posts</h2>
  <ol>
    {{#each movies as |movie|}}
    <li>
      {{> movie-info movie}}
      <a href="/dashboard/edit/{{movie.id}}" class="edit-link">Edit Movie Post</a>
    </li>
    {{/each}}
  </ol>

</section>

<script src="/javascript/add-movie.js"></script>