<article>
    <a id="dashboard-return" href="/dashboard">&larr; Back to dashboard</a>
    <h2>Edit Movie</h2>

    <form class="edit-movie-form card">
        <div>
            <input name="movie-title" type="text" id="new-movie-title" value="{{movie.title}}" />
            <span>
                ({{movie.movie_url}})
            </span>
        </div>
        <div>
            {{movie.vote_count}} likes
        </div>
        <button type="submit">Save Movie</button>
        <button type="button" class="delete-post-btn">Delete Movie</button>
    </form>
</article>

<form class="review-form">
    <div>
        <textarea name="review-body" id="review-body"></textarea>
    </div>

    <div>
        <button type="submit" id="review-btn">Add Review</button>
    </div>
</form>

{{> reviews movie.reviews}}

<script src="/javascript/edit-movie.js"></script>
<script src="/javascript/delete-movie.js"></script>
<script src="/javascript/review.js"></script>