<div class="card">
    <h2>Edit Movie</h2>
    <form class="edit-movie-form">
        <div>
            <input name="movie-title" type="text" id="new-movie-title" value="{{movie.title}}" />
            <span>
                ({{format_url movie.movie_url}})
            </span>
        </div>
        <div>
            {{movie.vote_count}} {{format_plural "like" movie.vote_count}}
        </div>
        <button type="submit">Save Movie</button>
        <button type="button" class="delete-movie-btn">Delete Movie</button>
    </form>


<form class="review-form">
    <div>
        <textarea name="review-body" id="review-body"></textarea>
    </div>

    <div>
        <button type="submit" id="review-btn">Add Review</button>
    </div>
</form>
</div>

{{> reviews movie.reviews}}


<script src="/javascript/edit-movie.js"></script>
<script src="/javascript/delete-movie.js"></script>
<script src="/javascript/review.js"></script>