<ul class="movie-list">
        {{#each movies as |movie|}}
        <div class="card">
            <li>
                {{> movie-info movie }}
            </li>
        </div>
        {{/each}}    
</ul>