{{> movie-info movie }}

<form class="review-form">
    <div>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Review</button>
        <button type="button" class="upvote-btn">Upvote</button>
    </div>
</form>

{{> reviews movie.reviews}}

<script src="/javascript/review.js"></script>
<script src="/javascript/upvote.js"></script>
