/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@500&family=Staatliches&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shrikhand', cursive;
}

h1 a {
  text-decoration: none;
}

body {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #009fff, #ec2f4b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #009fff, #ec2f4b);
}

.main-title {
  background-color: #00000093;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(110, 42, 236);
  text-shadow: 0 0 20px #c795f5;
  font-family: 'shrikhand' sans-serif;
  
}


header {
  padding: 20px 40px;
}

header a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 23px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

footer {
  /* margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold; */
  color: #009FFF;
  padding-top: 8px;
  background-color: #00000056;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
}

.login-container {
  display: block;
  box-shadow: 10px 10px 8px 10px #160449;
  margin: 30px auto 30px auto;
  width: 50%;
  justify-content: center;
  border: 3px solid;
  padding: 15px;
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signup-container {
  display: block;
  box-shadow: 10px 10px 8px 10px #160449;
  margin: 30px auto 30px auto;
  width: 50%;
  justify-content: center;
  border: 3px solid;
  padding: 15px;
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 2px 2px black;
}

.form-title {
  display: flex;
  padding: 10px 0px;
}

.create-post-title {
  display: flex;
  justify-content: center;
}

.new-movie-form {
  color: #000000;
  display: block;
  box-shadow: 10px 10px 8px 10px #160449;
  margin: 30px auto 30px auto;
  width: 50%;
  justify-content: center;
  border: 3px solid;
  border-radius: 5px;
  padding: 15px;
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF);
}

button {
  background-color: #009FFF;
  border: 1px solid black;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 2px 2px black;
}

.movie-post-title {
  display: flex;
  justify-content: center;
}

.card {
  /* background-image:url(./images/d433c815b11b5b1c67adaa6c92a79abb.jpg) */
  margin: 12 20 12 20;
  border: 3px, solid;
  border-radius: 5px;
  background-color: cornsilk;
}

text {
  color:#000000
}